.div28{
    width: 100%;
    height: 517px;
    background-image: url("./IMAGE\ \(30\).png");
    text-align: center;
}
.letsin{
    color: #333;
    font-family: monospace;
    font-size: 23px;
    padding-top: 79px;
    letter-spacing: 3px;
}
.div29{
    width: 100%;
    height: 234px;
    margin-top: 93px;
    display: flex;
    justify-content: center;
}
.div30{
    width: 195px;
    height: 100%;
    margin: 0px 60px;
    text-align: center;
}
.meetus{
    color: #333;
    font-family: monospace;
    font-size: 16px;
    padding-top: 26px;
    padding-bottom: 20px;
}
.juniper{
    font-size: 17px;
    color: #212121;
    font-family: sans-serif;
}
.div31{
    width: 100%;
    height: 639px;
    background-color: #000;
}
.input{
    width: 564px;
    height: 57px;
    background-color: #2e2e2e;
    outline: none;
    border: none;
    font-size: 17px; 
    font-style: italic;
    text-indent: 31px;
    margin-top: 69px;
    margin-left: 478px;
    color: #fff;
}
.div31>:nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5){
    margin-top: 0px;
}
.div31>:nth-child(2){
    background-color:#333;
}
.btn{
    width: 210px;
    height: 53px;
    background: transparent;
    border: 2px solid #8BCAC3;
    color: #8BCAC3;
    font-style: italic;
    margin-left: 654px;
    margin-top: 21px;
}
.png34{
    margin-top: 37px;
    margin-left: 739px;
}
.madein{
    font-family: monospace;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.4);
    padding-left: 555px;
    padding-top: 14px;
    
}